h1 {
    font-size: 48pt;
}

h2 {
    font-size: 36pt;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.fredericka {
    font-family: 'Fredericka the Great', cursive;
}

#map {
    height: 500px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.attraction {
    display: inline-block;
}

.site-title {
    color: #eee;
    font-size: 56pt !important;
}

.form-control {
    width: 80% !important;
}